/*--- GENERALS ----*/
@font-face {
    font-family: RobotoCnd;
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
   font-family: RobotoCnd;
   src: url(../fonts/RobotoCondensed-Bold.ttf);
   font-weight: bold;
}
html, body { margin:0; padding:0;}
body{
    background: #ffffff;
    font-family: RobotoCnd,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #f5f5f5;
}
@media screen {
    h1, h2, h3, h4, h5 {
        text-transform: uppercase;
        font-family: RobotoCnd,Helvetica,Arial,sans-serif;
        font-weight: 700;
        line-height: 1.1;
    }
}
h3 {
	font-size: 3.2rem;
	margin-bottom: 1.5em;
	}

h4{
	font-size: 19px;
	margin-bottom: .2em;
	}
a, a:hover {
    color:#27a7df;
}

.inline{
    display: inline;
}

.hidden{
    display: :none;
}

#site-wrapper{
    margin: 0px;
    padding: 0px;
    position: relative;
    top: -19px;
}
header {
    background-color: #ffffff;
    padding-left: 20px;
    height: 70px;
}
header h1{
    padding-top: 15px;
}

.float-button{
    position: fixed;
    z-index: 100;
    top: 30px;
    right: 45px;
}
.float-button button{
    border-radius: 50px;
    height: 75px;
    width: 75px;
}

.notifications {
    position: fixed;
    top: 55px;
    left: -300px;
    min-height: 80px;
    width: 300px;
    z-index: 10000;
    background: rgba(15, 15, 15, 0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 25px 0px 0px 10px;
    color: #ffffff;
}

    .notifications .notifications-text {
        margin-left: 5px;
    }
    .notifications span {
        font-size: x-large;
    }
.site-content .clearfix{
    display: block;
}
.site-content .col-post {
    padding-top: 30px;
}
.site-content .post {
    background-color: #ffffff;
    padding: 30px 10px 10px 10px;
}
.site-content .post dt img{
    margin-top: -10px;
}
.site-content .post dd h4{
    margin: 0px;
    width: 85%;
}
.site-content .post dd p{
    color: #aaa;
}
.site-content .post .post-body h4{
    margin-bottom: 1em;
    width: 100%;
}
.site-content .post .post-body span[role="button"]{
    color: #427fed;
    cursor: pointer;
}
.site-content .post dd h4, .site-content .post .post-body h4{
    text-overflow: ellipsis;
    overflow: hidden;
}
.site-content .post .post-body .post-body-content{
    margin-top: 20px;
    word-wrap: break-word;
    width: 100%;
    overflow: hidden;
    height: 100px;
    white-space: normal;
}
.site-content .post .post-body, .site-content .post .post-footer{
    padding: 0px 45px 20px 45px;
}
.modal-footer {
    border-top: none;
}
@media (min-width: 768px){
    .dl-horizontal dt {
        width: 92px;
    }
    .dl-horizontal dd {
        margin-left: 136px;
    }
}
@media (max-width: 768px){
    .site-content .clearfix{
        display: none; 
    }
}

@media (max-width: 680px), (max-device-width: 680px)  {
    .site-content .post .post-body, .site-content .post .post-footer{
        padding: 0px;
    }
}